.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.about_me-image {
    max-height: 600px;
}

.about__me-image img {

}

.about__socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2.5rem;
}

.social__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__block a {
    font-size: 2.5rem;
    height: 40px;
}

.social__block small {
    font-size: 0.7rem;
    margin-top: 1rem;
}

/* .about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform-origin: rotate(10deg);
    transition: var(--transition);
} */

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.8rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    transform: scale(1.1);
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

/* change when adding logos */
.about__icon {
    color: var(--color-primary);
    display: inline;
    width: 4rem;
    margin-bottom: 0.5rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    font-weight: 600;
    text-align: center;
    line-height: 2;
}

/*///////////// MEDIA QUERIES ///////////*/
/* Tablets */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 3rem 0 1.5rem;
    }

    section > h2 {
        margin-bottom: 1.5rem !important;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0 2rem;
    }

    .about__content {
        text-align: center;
    }
}