header {
    /* height: 100vh; */
    padding-top: 2rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;   
}

/* 
    .scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
} */

/*///////////// MEDIA QUERIES ///////////*/
/* Tablets */
@media screen and (max-width: 1024px) {
    header{
        /* height: 68vh; */
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    header {
        /* height: 100vh; */
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}