* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 52px;
    padding: 0.5em;

    position: sticky;

    box-shadow: 0 10px 16px 0px rgba(0,0,0,.2);
}

#nav-container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-list {
    display: flex; /* change to flex */
    gap: 2em;

    list-style: none;
}

/*////// CONTENT //////*/

.container {
    
}